{
  "NSPrivacyTracking": false,
  "NSPrivacyTrackingDomains": [],
  "NSPrivacyCollectedDataTypes": [
    {
      "NSPrivacyCollectedDataType": "NSPrivacyCollectedDataTypeUserID",
      "NSPrivacyCollectedDataTypeLinked": true,
      "NSPrivacyCollectedDataTypeTracking": false,
      "NSPrivacyCollectedDataTypePurposes": [
        "NSPrivacyCollectedDataPurposeAnalytics",
        "NSPrivacyCollectedDataPurposeAppFunctionality"
      ]
    },
    {
      "NSPrivacyCollectedDataType": "NSPrivacyCollectedDataTypeCrashData",
      "NSPrivacyCollectedDataTypeLinked": true,
      "NSPrivacyCollectedDataTypeTracking": false,
      "NSPrivacyCollectedDataTypePurposes": [
        "NSPrivacyCollectedDataPurposeAnalytics",
        "NSPrivacyCollectedDataPurposeAppFunctionality"
      ]
    }
  ],
  "NSPrivacyAccessedAPITypes": [
    {
      "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPITypeUserDefaults",
      "NSPrivacyAccessedAPITypeReasons": [
        "C5F2.1"
      ]
    },
    {
      "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPITypeDiskSpace",
      "NSPrivacyAccessedAPITypeReasons": [
        "C617.1"
      ]
    }
  ]
}









